<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org" th:replace="~{user_view/base::Layout(~{::div})}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


</head>
<body>

  <div class="signup-body">
    <div class="container-sign">
      <div class="title">Sign Up</div>
      <label class="profilePic" for="image_input">
        <img id="signUpImage"  th:src = "@{/images/util/profile_image.png}" >
      </label>

      <div class="content">
        <form th:action = "@{/users/signup_process}" method = "post" enctype = "multipart/form-data" th:object = "${user}">
          <div class="ext" style="margin-top: 5px;">
            <label for="image_input">Upload Photo <i class="fa-solid fa-cloud-arrow-up" style="margin-left: 7px;"></i></label>
            <input type="file" id = "image_input" name = "user_image" required>
          </div>

          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" placeholder="Enter your name" name = "user_name" class = "form-control" th:value="${user.user_name}" th:classappend = "${#fields.hasErrors('user_name') ? 'is-invalid':''}"  >
              <div th:each=" error: ${#fields.errors('user_name')}" th:text = "${error}" class="invalid-feedback"></div>
            </div>
            

            <div class="input-box">
              <span class="details">Address</span>
              <input type="text" placeholder="Eg: Damauli"
              name = "user_address" class = "form-control" th:value="${user.user_address}" th:classappend = "${#fields.hasErrors('user_address') ? 'is-invalid':''}"   >
              <div th:each=" error: ${#fields.errors('user_address')}" th:text = "${error}" class="invalid-feedback"></div>
            </div>


            <div class="input-box">
              <span class="details">Email</span>
              <input type="email" placeholder="Enter your email" name = "email" class = "form-control" th:value = "${user.email}" th:classappend = "${#fields.hasErrors('email') ? 'is-invalid':''}"  >
              <div th:each=" error: ${#fields.errors('email')}" th:text = "${error}" class="invalid-feedback"></div>
            </div>


            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="text" placeholder="Enter your number" name = "user_phone" th:value="${user.user_phone}" class = "form-control"  th:classappend = "${#fields.hasErrors('user_phone') ? 'is-invalid':''}" >
              <div th:each=" error: ${#fields.errors('user_phone')}" th:text = "${error}" class="invalid-feedback"></div>
            </div>


            <div class="input-box">
              <span class="details">Password</span>
              <input type="password" placeholder="Enter your password" name = "password" class = "form-control" th:value="${user.password}" th:classappend = "${#fields.hasErrors('password') ? 'is-invalid':''}"  >
              <div th:each=" error: ${#fields.errors('password')}" th:text = "${error}" class="invalid-feedback"></div>

            </div>
            

            
          </div>
      
          <div class="gender-details">
            <input type="radio" name="gender" th:field="${user.gender}" id="dot-1" value="Male">
            <input type="radio" name="gender" th:field="${user.gender}" id="dot-2" value="Female">
            <input type="radio" name="gender" th:field="${user.gender}" id="dot-3" value="Others">
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Others</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" style="font-weight: bold;" value="Sign Up">

          </div>
         
          <div class="existing-acc">
              <p>Already have an account? <a th:href = "@{/users/login}"><b>Log in</b></a></p>
          </div>
        </form>
                  
      </div>
    </div>
  </div>
    
</body>
</html>